<div class="dialog">
    <div mat-dialog-title class="header">
        <p class="title row-center">{{placeholder}}</p>
        <button mat-icon-button class="close" (click)="onNoClick()">
            <mat-icon>close
            </mat-icon>
        </button>
    </div>
    <div mat-dialog-content class="mat-typography">
        <quill-editor class="content-editor" [placeholder]="placeholder" [modules]="quillConfiguration"
            [styles]="{'min-height': '50vh','min-width': '600px'}" [(ngModel)]="editorText">
        </quill-editor>
    </div>
    <br />
    <div style="display: flex;">
        <div style="
        width: 30%;">
            <mat-form-field appearance="fill">
                <mat-label>Tags</mat-label>
                <mat-select [formControl]="tags" multiple>
                    <mat-select-trigger>
                    </mat-select-trigger>
                    <mat-option *ngFor="let interest of interests" (onSelectionChange)="getValues($event)"
                        [value]="interest?.id">{{interest?.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="isEvent" style="
        width: 60%; display: flex;">
            <div>

                <mat-form-field class="xs-full-width" appearance="outline">
                    <mat-label>Start date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="eventDTO.from" [disabled]="true" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>

                </mat-form-field>
            </div>
            <div>




                <mat-form-field class="xs-full-width" appearance="outline">
                    <mat-label>End date</mat-label>
                    <input matInput [matDatepicker]="pickerTo" [(ngModel)]="eventDTO.to" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                    <mat-datepicker #pickerTo></mat-datepicker>

                </mat-form-field>


            </div>
        </div>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-raised-button class="btn" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button color="primary" (click)="submit(isQuestion,isEvent)" cdkFocusInitial>Ask</button>
    </div>
</div>