table {
    width: 90%;

}
.leader{
    margin: 35px;
    background-color: white;
    height: 100vh;
}
.ti{
    font-weight: bold;
    font-size: 36px;
    padding: 50px;
}
.demo-table {
    width: 100%;
  }
  
  .mat-column-position {
    width: 32px;
    border-right: 1px solid currentColor;
    font-size: 20px;
    padding-right: 24px;
    text-align: center;
    font-weight: bold;
  }
  
  .mat-column-username {
    padding-left: 16px;
    font-size: 20px;
    border-right: 1px solid currentColor;
    font-weight: bold;
    font-style: italic;
  }
  
  .mat-column-likes {
    width: 432px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
  .avat{
    width:70px;
    height:70px;
    border-radius: 50%;
    margin-left: 9px; 
    bottom: 21px;
    position: relative;
}
.lead{
    color:rgb(185, 43, 39);
    font-style: italic;
    font-weight:bold;
    font-size: 32px!important;
    
}