<div class="topbox">
    <mat-card style="margin: 5px 0px 20px 0px;">
        <mat-card-title class="title">
            <mat-icon style="" class="imgMatIcon">
                <img class="userAvatar"
                    src="../../assets/images/avatars/{{questionData?.avataridOfWhoAskedThisQuestion}}.png" />
            </mat-icon>
            <div style="" class="nameAndDate">
                <div style="font-size:20px"><b>{{questionData?.usernameOfWhoAskedThisQuestion}}</b></div>
                <div style="font-size:14px;margin:3px">{{questionData?.doq | date: 'MM/dd/yyyy'}}
                </div>

            </div>
        </mat-card-title>
        <mat-card-content>
            <div class="questionDisplay"  [innerHTML]="questionData?.question | safeHtml" style=""></div>
            <br />
            <div class="ans">
                <button mat-raised-button (click)="openQuestion()" color="warn"
                    style="font-size:15px; padding:5px 30px 5px 15px;
                    border-radius: 25px;
                ">
                    <mat-icon>edit</mat-icon><span>Answer</span>
                </button>
                <div class="iconlist">
                    <mat-icon (click)="openComments()" class="icon pointer commentIcon">comment</mat-icon>
                    <span class="row-center">
                        <span class="material-symbols-outlined icon pointer" [ngClass]="{'filled': isliked}"
                            (click)="likeButton(isliked,questionData?.ctype)">thumb_up</span>
                        <span class="count">{{likeCount}}</span>
                    </span>

                    <span class="material-symbols-outlined icon pointer" [ngClass]="{'filled': disliked}"
                        (click)="dislikeButton(disliked,questionData?.ctype)">thumb_down</span>
                    <span class="material-symbols-outlined icon pointer" [matMenuTriggerFor]="menu">share</span>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Facebook</button>
                        <button mat-menu-item>Twitter</button>
                        <button mat-menu-item (click)="copyUrl()">Copy Link</button>
                    </mat-menu>
                    <span *ngIf="questionData?.questionOwnedByTheRequestedUser"
                        class="material-symbols-outlined filled coloricon"
                        (click)="deleteQuestion(questionData?.eqid,questionData?.ctype)">
                        delete
                    </span>
                </div>
            </div>
            <mat-card *ngIf="showComments" style="margin-top:10px;">
                <div class="title">
                    <mat-form-field class="full-width" appearance="outline">
                        <input matInput placeholder="Add a comment..." type=text [(ngModel)]="comment" />
                        <button mat-icon-button matSuffix type="button" (click)="sendComment()">
                            <mat-icon>send
                            </mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div style="max-height:300px;overflow: auto;">
                    <div *ngFor="let data of commentsData?.data let i = index; let first = first ;let last = last;"
                        class="commentbox">
                        <div class="title">
                            <mat-icon class="imgMatIcon">
                                <img class="userAvatar"
                                    src="../../assets/images/avatars/{{data?.commentedByUsernameAvatarid}}.png" />
                            </mat-icon>
                            <div class="comment"><b>{{data?.commentedByUsername}}</b></div>
                            <span class="doc">{{data?.doc| date: 'MM/dd/yyyy'}}</span>
                        </div>
                        <div class="title space">
                            <div style="margin:10px 30px;">
                                {{data?.comment}}
                            </div>
                            <div>
                                <span *ngIf="data?.commentOwnedByTheRequestedUser"
                                    class="material-symbols-outlined filled coloricon"
                                    (click)="deleteQuestionComment(data?.cid)">
                                    delete
                                </span>

                            </div>
                        </div>
                        <mat-divider *ngIf="!last" class="relative"></mat-divider>
                    </div>
                </div>
            </mat-card>
        </mat-card-content>
    </mat-card>
    <div class="sort">
        <p style="margin-right: 5px;">Sort By:</p>
        <div>
            <mat-form-field appearance="fill">
                <mat-label></mat-label>
                <mat-select (selectionChange)="onChange($event)">
                    <mat-option *ngFor="let sortedValue of sortedValues" [value]="sortedValue.value">
                        {{sortedValue.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div *ngFor="let data of answerData">
        <mat-card>
            <mat-card-title class="title">

                <mat-icon style="font-size: 50px;height: 50px;width:50px" class="imgMatIcon">
                    <img class="userAvatar" src="../../assets/images/avatars/{{data.answeredByUsernameAvatarid}}.png" />
                </mat-icon>
                <div style="margin-left: 10px" class="nameAndDate">
                    <div style="font-size:20px"><b>{{data?.answeredByUsername}}</b></div>
                    <div style="font-size:14px;margin:3px">{{data?.doa | date: 'MM/dd/yyyy'}}</div>
                </div>

            </mat-card-title>
            <mat-card-content>
                <br />
                <div [innerHTML]="data?.content">
                </div>
                <div class="iconlist">
                    <mat-icon (click)="openAnswerComments(data?.aid)" class="icon pointer commentIcon">comment</mat-icon>
                    <span class="row-center">
                        <span class="material-symbols-outlined icon pointer"
                            [ngClass]="{'filled': data?.likedByTheRequestedUser}"
                            (click)="answerLikeButton(data)">thumb_up</span>
                        <span class="count">{{data?.totalNumberOfLikes}}</span>
                    </span>

                    <span class="material-symbols-outlined icon pointer"
                        [ngClass]="{'filled': data?.disLikedByTheRequestedUser}"
                        (click)="answerDislikeButton(data)">thumb_down</span>
                    <span *ngIf="data?.answerOwnedByTheRequestedUser" class="material-symbols-outlined filled coloricon"
                        (click)="deleteAnswer(data?.aid)" >
                        delete
                    </span>
                    
                </div>
                <mat-card *ngIf="data?.showAnswerComments" style="margin-top:10px;">
                    <div class="title">
                        <mat-form-field class="full-width" appearance="outline">
                            <input matInput placeholder="Add a comment..." type=text [(ngModel)]="answerComment" />
                            <button mat-icon-button matSuffix type="button" (click)="sendAnswerComment(data?.aid)">
                                <mat-icon>send
                                </mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div style="max-height:300px;overflow: auto;">
                        <div *ngFor="let commentdata of answerCommentsData?.data let i = index; let first = first ;let last = last;"
                            class="commentbox">

                            <div class="title">
                                <mat-icon class="imgMatIcon">
                                    <img class="userAvatar"
                                        src="../../assets/images/avatars/{{commentdata.commentedByUsernameAvatarid}}.png" />
                                </mat-icon>
                                <div class="comment"><b>{{commentdata?.commentedByUsername}}</b></div>
                                <span class="doc">{{commentdata?.doc| date: 'MM/dd/yyyy'}}</span>
                            </div>
                            <div class="title space">
                                <div style="margin:10px 30px;">
                                    {{commentdata?.comment}}

                                </div>
                                <div>
                                    <span *ngIf="commentdata?.commentOwnedByTheRequestedUser"
                                        class="material-symbols-outlined filled coloricon"
                                        (click)="deleteComment(commentdata?.cid,data?.aid)">
                                        delete
                                    </span>

                                </div>

                            </div>
                            <mat-divider *ngIf="!last" class="relative"></mat-divider>
                        </div>
                    </div>
                </mat-card>
            </mat-card-content>
        </mat-card>
        <br />
    </div>
</div>