<div class="dialog">
    <div mat-dialog-title style="text-align: center">
        <img src="../../assets/images/title.png" class="titlebg" style="height: 40px">
        <p class="title row-center" style="padding-top: 10px">{{title}}</p>
    </div>

    <div mat-dialog-content class="mat-typography">
        <form class="xs-form marten" name="form" name="forgotForm" [formGroup]="forgotForm" novalidate>
            <mat-form-field class="xs-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="emailid" matInput type="email" name="email" required placeholder="Enter email Id">
                <mat-error *ngIf="f.emailid.errors?.required">
                    EmailId is required
                </mat-error>
                <mat-error *ngIf="f.emailid.errors?.email">
                    EmailId is required
                </mat-error>
            </mat-form-field><br />

        </form>

    </div>
    <div mat-dialog-actions align="center">
        <button mat-raised-button class="btn" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button color="primary" (click)="send()" [disabled]="!this.forgotForm?.valid"
            cdkFocusInitial>send</button>
    </div>
</div>