<mat-card class="topbox">
    <div class="row-center">
        <mat-icon>account_circle</mat-icon>
        <div class="mainbox" (click)="openAskQuestion()">
            <span>
                <p class="title">{{title}}</p>
            </span>
        </div>
    </div>
    
    <div class="spac">
        <button mat-button (click)="openAskAnEvent()"><mat-icon>event</mat-icon>Events</button>
        <button mat-button (click)="openAskQuestion()"><mat-icon>question_mark</mat-icon>Ask</button>
        <button mat-button><mat-icon>edit_note</mat-icon>Blog</button>
    </div>
</mat-card>