<mat-card class="topbox">
    <div class="row-center">
        <mat-icon style="font-size: 50px;height: 50px;width:50px">
            <img class="userAvatar"
                src="../../assets/images/avatars/{{userdetails.avatarid}}.png" />
        </mat-icon>
        <div class="mainbox" (click)="openAskQuestion()">
            <span>
                <p class="title">{{title}}</p>
            </span>
        </div>
    </div>

    <div class="spac">
        <button mat-button (click)="openAskAnEvent()">
            <mat-icon>event</mat-icon>Events
        </button>
        <button mat-button (click)="openAskQuestion()">
            <mat-icon>question_mark</mat-icon>Ask
        </button>
        <button mat-button (click)="openBlog()">
            <mat-icon>edit_note</mat-icon>Blog
        </button>
    </div>
</mat-card>