<!-- <mat-toolbar style="background-color:#f52936;"> -->
<mat-toolbar style=" background-color: #262626!important;border: 1px solid;">
    <mat-toolbar-row>
        <div class="row-center" style="width:100%">
            <div style="width:100%" class="space">
                <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
                    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
                    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
                </button>
                <span class="maintitle" (click)="gotoHome()" style="    top: 5px;
                position: relative;"><span>
                        <img src="../../assets/images/unvlogos/{{userdetails.universitycode}}.png"
                            style="margin-right: 10px" class="titlebg"></span>
                    <span>
                        <img src="../../assets/images/title.png" class="titlebg">
                       
                    </span>
                    <span>
                        <span style="
                           font-size: 15px;
    color: rgb(185, 43, 39);
    font-style: italic;
    /* width: 10px; */
    margin-left: 6px;
    position: relative;
    bottom: -3px;
                    ">@{{unvTitle}}</span>
                    </span>



                </span>

            </div>
            <div class="row-center">
                <div class="itemIcon" *ngFor="let toolbarIconsItem of toolbarIconsItems">
                    <button mat-mini-fab class="row-center" (click)="toolbarIcons(toolbarIconsItem)" color="warn"
                        *ngIf="!toolbarIconsItem.useManualImg">
                        <mat-icon matBadge="{{notifViewCount}}" *ngIf="notificationsList.length>0" [matMenuTriggerFor]="belowMenu" (click)="notificationsSeen()" approxItemHeight="152px" [itemHeight]="itemHeightFn">

                            {{toolbarIconsItem.icon}}

                            <mat-menu #belowMenu="matMenu" yPosition="below">
                              <div mat-menu-item *ngFor="let obj of notificationsList"><div class="notifImgDiv" [innerHTML]="obj.notifHTMLText"></div></div>
                              
                            </mat-menu>
                            
                        </mat-icon>
                        <mat-icon matBadge="{{notifViewCount}}" *ngIf="notificationsList.length==0" approxItemHeight="152px" [itemHeight]="itemHeightFn">

                            {{toolbarIconsItem.icon}}

        
                        </mat-icon>
                        
                        
                    </button>
                    <div *ngIf="toolbarIconsItem.useManualImg">
                        <img class="userAvatar" src="../../assets/images/avatars/{{userdetails.avatarid}}.png"
                            style="cursor: pointer" (click)="logOut()" />
                    </div>
                </div>
            </div>

        </div>
    </mat-toolbar-row>
</mat-toolbar>