.itemIcon {
    padding: 10px;
 }
 .space {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.maintitle{
    width:100%;
    text-align: center; 
    font-size: 30px;
    color:white
}

.userAvatar
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    width: 100%;
}