.itemIcon {
    padding: 10px;
 }
 .space {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.maintitle{
    width:100%;
    text-align: center; 
    font-size: 30px;
    color:white
}

.userAvatar
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    width: 100%;
    /* border-radius: 20px; */
    height: 56px;
    width: 56px;
    border-radius: 57px;
}
.titlebg
{
    height: 35px;
    cursor: pointer;
}

.notifImg
{
    height: 25px; width: 27px;border-radius: 10px;
}
