<mat-toolbar style="background-color:#f52936;">
    <mat-toolbar-row>
        <div class="row-center" style="width:100%">
            <div style="width:100%" class="space">
                <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
                    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
                    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
                </button>
                <span class="maintitle">{{mainTitle}}</span>
            </div>
            <div class="row-center">
                <div class="itemIcon" *ngFor="let toolbarIconsItem of toolbarIconsItems">
                    <button mat-mini-fab class="row-center" (click)="toolbarIcons(toolbarIconsItem)" color="warn">
                        <mat-icon *ngIf = "!toolbarIconsItem.useManualImg">
                            
                            {{toolbarIconsItem.icon}}
                        
                        </mat-icon>
                        <div *ngIf = "toolbarIconsItem.useManualImg">
                            <img class ="userAvatar" src="../../assets/images/avatars/{{userdetails.avatarid}}.png" />
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>