<app-question-textbox> </app-question-textbox>
<div *ngFor="let data of data">
    <mat-card class="topbox">
        <mat-card-title class="title">
            <mat-icon>
                account_circle
            </mat-icon>
            <div><b>{{data?.username}}</b></div>
        </mat-card-title>
        <mat-card-content>
            <a [innerHTML]="data?.question" (click)="openQuestion(data)"></a>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button (click)="likeButton()"><mat-icon><span class="material-icons white-color">thumb_up</span></mat-icon>{{data?.upvotes}}</button>
            <button mat-icon-button><mat-icon>thumb_down</mat-icon></button>
          </mat-card-actions>
    </mat-card>
</div>