
<div>
    <app-header [sidenav]=sidenav></app-header>
    <div>
        <mat-sidenav-container class="contain">
            <mat-sidenav #sidenav="matSidenav">
                <mat-nav-list #sidenav class="menu-item" *ngFor="let sideNavItemsName of sideNavItemsNames">
                    <button mat-button class="menu-button" (click)="sideItemNavigation(sideNavItemsName.buttonName)">
                        <mat-icon>{{sideNavItemsName.icon}}</mat-icon>
                        <span>{{sideNavItemsName.buttonName}}</span>
                    </button>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content class="centerContent">
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>