<div class="main-div row-center">
    <mat-card>
        <mat-card-title class="marten" style="text-align: center;">
            <div style="text-align: center; font-size: 30px; color: red;margin-bottom: 35px;">
                <img src="../../assets/images/title.png" class="titlebg">
            </div>
            <div style="text-align: center;font-size: 25px;">{{changeTitle}}</div>
        </mat-card-title>
        <mat-card-content class="marten">
            <form name="form" name="Form" [formGroup]="changeForm" novalidate (keyup.enter)="handleKeyUp($event)">
                <div>
                    <mat-form-field class=" full-width" appearance="outline">
                        <mat-label>Old Password</mat-label>
                        <input formControlName="oldpassword" matInput [type]=" hideo ? 'password' : 'text'" required />
                        <button mat-icon-button matSuffix type="button" (click)="hideo=!hideo"
                            [attr.aria-label]="'Hide Password'">
                            <mat-icon>
                                {{hideo ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </button>
                        <mat-error *ngIf=hideo>
                            Password is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class=" full-width" appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input formControlName="newpassword" matInput [type]=" hiden ? 'password' : 'text'" required />
                        <button mat-icon-button matSuffix type="button" (click)="hiden=!hiden"
                            [attr.aria-label]="'Hide Password'">
                            <mat-icon>
                                {{hiden ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </button>
                        <mat-error *ngIf="f.confirmPassword?.errors?.mustMatch">Password and confirm password does not match
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class=" full-width" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input formControlName="cpassword" matInput [type]=" hidec ? 'password' : 'text'" required />
                        <button mat-icon-button matSuffix type="button" (click)="hidec=!hidec"
                            [attr.aria-label]="'Hide Password'">
                            <mat-icon>
                                {{hidec ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </button>
                        <mat-error *ngIf=hidec>
                            Password is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row-center">
                    <button mat-raised-button (click)="confirm()" type="submit" color="primary" 
                        [disabled]="!this.changeForm?.valid">Confirm</button>
                    <button mat-raised-button (click)="cancel()" class="btn"
                       >Cancel</button>
                </div>


            </form>
        </mat-card-content>
    </mat-card>
</div>
<!-- *ngIf="!changeForm.controls['password'].valid" -->