.btn{
    margin-top: 15px;
    padding: 5px 28px;
    line-height: 40px;
    font-size:20px;
  }
.chip{
  min-width:200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 45px ;
}
.dialog {
  
  border-radius: 10px;
  min-height: 460px;
  
}
.header{
  width:100%;
  text-align: center;
}
.title{
  width:100%
}
.close{
  height:15px;
  float:right;
  bottom:47px;
}
.mat-dialog-content{
  overflow: inherit;
}