<div class="dialog">
  <div mat-dialog-title class="header">
    <p class="title row-center"><b>{{title}}</b></p>
    <button mat-icon-button class="close" (click)="onNoClick()">
      <mat-icon>close
      </mat-icon>
    </button>
  </div>
  <div mat-dialog-content class="mat-typography" >
    <!-- <mat-selection-list #interest [(ngModel)]="selectedOptions">
      <mat-list-option *ngFor="let interest of interests" [value]="interest">
        {{interest.name}}
      </mat-list-option>
    </mat-selection-list> -->
    <mat-selection-list #list [(ngModel)]="selectedOptions" (ngModelChange)="onAreaListControlChanged($event)">
      <mat-list-option *ngFor="let interest of interests" [value]="interest">
        {{interest.name}}
      </mat-list-option>
  </mat-selection-list>
  </div>
  <!-- <mat-chip-list multiple #chipList aria-orientation="horizontal"
    *ngFor="let interest of interests">
    <mat-chip class="chip">
      <p>{{interest.name}}</p>
      <button mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
       <mat-icon>clear</mat-icon> 
     </mat-chip>

  </mat-chip-list> -->
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button class="btn" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()" cdkFocusInitial>Submit</button>
</div>