<div class="main-div">
    <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQArKA9qRrDRK6vg450jwKSFUY5Dcb9jHQfMA&usqp=CAU" id="bg" alt=""/> -->
    <mat-card class="card">
        <mat-card-title class="marten" style="text-align: center;">
            <div style="text-align: center; font-size: 30px; color: red;margin-bottom: 35px;">QUORA STUDENT</div>
            <div style="text-align: center;font-size: 25px;">LOGIN</div>
        </mat-card-title>
        <mat-card-content class="marten">
            <form name="form" (ngSubmit)="login()" name="loginForm" [formGroup]="loginForm" novalidate>
                <div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username/Email</mat-label>
                        <input formControlName="username" matInput required />
                        <mat-error *ngIf="!loginForm.controls['username'].valid">
                            Username/Email is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class=" full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>
                                {{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </button>
                        <mat-error *ngIf=hide>
                            Password is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class=" btc">
                    <button mat-raised-button type="submit" color="primary" class="btn">Login</button>
                    <!-- <img *ngIf="loading"
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> -->
                </div>
                <br />
                <div class="form-group btc  ">
                    <a (click)=signUp()>Or Sign up with mail</a>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>
<!-- *ngIf="!loginForm.controls['password'].valid" -->