#bg {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

mat-card {
    min-width: 25%;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
    border-radius: 10px
}

.main-div {
    height: 100vh;
    background: url("../../assets/images/backgroundimage.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.full-width {
    width: 95%;
}

.marten {
    margin-top: 1.5em !important;
    margin: 0px 15px;
}