<div class="dialog">
    <div mat-dialog-title>
        <p class="title">Sign up</p>
    </div>
    <div mat-dialog-content class="mat-typography">
        <form class="xs-form marten" name="form" name="signUpForm" [formGroup]="signUpForm" novalidate>
            <mat-form-field class="xs-full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input formControlName="username" matInput name="username">
                <mat-error *ngIf="!signUpForm.controls['username'].valid">
                    User name not valid.
                </mat-error>
                
            </mat-form-field><br />
            <mat-form-field class="xs-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput  type="email" name="fame">
            </mat-form-field><br />
            <mat-form-field class="xs-full-width" appearance="outline">
                <mat-label>Date of birth</mat-label>
                <input formControlName="dob" matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" name="dob">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field><br />
            <mat-form-field class="xs-full-width" appearance="outline">
                <mat-label>University</mat-label>
                <input matInput formControlName="university" name="university">
            </mat-form-field><br />
            <mat-form-field class="xs-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" name="password">
            </mat-form-field><br />
            <mat-form-field class="xs-full-width" appearance="outline">
                <mat-label>Confirm password</mat-label>
                <input matInput formControlName="cpassword" type="password" placeholder="Confirm password" name="cpassword">
            </mat-form-field>
        </form>

    </div>
    <div mat-dialog-actions align="center">
        <button mat-raised-button class="btn" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button color="primary" (click)="signUp()"  cdkFocusInitial>Sign Up</button>
    </div>
</div>