<div class="dialog">
    <div mat-dialog-title style="text-align: center">
        <img src="../../assets/images/title.png" class="titlebg" style="height: 40px">
        <p class="title row-center" style="padding-top: 10px">{{title}}</p>
    </div>

    <div mat-dialog-content class="mat-typography">
        <form class="xs-form marten" name="form" name="signUpForm" [formGroup]="signUpForm" novalidate>
            <mat-form-field class="xs-full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input formControlName="username" matInput name="username" required>
                <mat-error *ngIf="f.username.errors?.required">
                    User name is required
                </mat-error>
                <mat-error *ngIf="f.username.errors?.pattern">
                    Enter only alphanumeric
                </mat-error>
            </mat-form-field><br />
            <mat-form-field class="xs-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="emailid" matInput type="email" name="email" required>
                <mat-error *ngIf="f.emailid.errors?.required">
                    EmailId is required
                </mat-error>
                <mat-error *ngIf="f.emailid.errors?.email">
                    EmailId is required
                </mat-error>
            </mat-form-field><br />
            <mat-form-field class="xs-full-width" appearance="outline">
                <mat-label>Date of birth</mat-label>
                <input formControlName="dob" matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" name="dob"
                    required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="f.dob.errors?.required">
                    Date of birth is not valid
                </mat-error>
            </mat-form-field><br />
            <mat-form-field class="xs-full-width" appearance="outline" >
                <mat-label>University</mat-label>
                <!-- <input matInput formControlName="universitycode" name="universitycode" required>
                <mat-error *ngIf="f.universitycode.errors?.required">
                    University is required
                </mat-error> -->
                <mat-select   formControlName="universitycode">
                    <mat-option *ngFor="let unvObj of unvList"  [value]="unvObj.unvcode">
                     <span>
                        <img src="../../assets/images/unvlogos/{{unvObj.unvcode}}.png" style="height: 20px"/>
                     </span>   {{unvObj?.unvname}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br />
            
            <mat-form-field class="xs-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" [type]=" hide ? 'password' : 'text'" name="password"
                    required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>
                        {{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </button>
                <mat-error *ngIf="f.password.errors?.required">
                    Password is required
                </mat-error>
            </mat-form-field><br />
            <mat-form-field class="xs-full-width" appearance="outline">
                <mat-label>Confirm password</mat-label>
                <input matInput formControlName="confirmPassword" [type]=" chide ? 'password' : 'text'"
                    placeholder="Confirm password" name="confirmPassword" required>
                <button mat-icon-button matSuffix (click)="chide = !chide" [attr.aria-label]="'Hide Password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>
                        {{chide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </button>
                <mat-error *ngIf="f.confirmPassword?.errors?.mustMatch">Password and confirm password does not match
                </mat-error>
            </mat-form-field>
        </form>

    </div>
    <div mat-dialog-actions align="center">
        <button mat-raised-button class="btn" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button color="primary" (click)="signUp()" [disabled]="!this.signUpForm?.valid"
            cdkFocusInitial>Sign Up</button>
    </div>
</div>